# Data files
data/*.json
data/.htaccess
gallery/data/*.json
gallery/data/orders.js
gallery/data/.htaccess

# Assets
gallery/assets/demo/*.jpg
assets/uploads/

# OS specific files
.DS_Store

# Temporary files
*.tmp
*.log
